body{
	background-color: #F6C6FE;
}
		
nav{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-left: 100px;
}

ul{
	width: 500px;
	background-color: white;	
}

li{
	display: inline;
	color: #000000;
	font-weight: bold;
	margin: 10px 5px;
	padding: 10px 5px;	
}

a{
	color: #000000;
	font-weight: bold;
	margin: 10px;
	text-decoration: none;
}
		
a:hover{
	background-color: #F6C6FA;
	color: #FFFFFF;
	width: 11px;
}

div img{
	display: flex;
	width: 100px;
	height: 100px;
}
		
div div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

container{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
		
container img{
	width: 250px;
	height: 250px;
	float: left;
	margin: 20px;
}

container button{
	height: 40px;
	width: 200px;
	background-color: #e7a61a;
	opacity: 0.7;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: -280px;
	border-radius: 42px 42px 42px 42px;
	-moz-border-radius: 42px 42px 42px 42px;
	-webkit-border-radius: 42px 42px 42px 42px;
	border: 0px solid #000000;

}

nav button{
	border-radius: 35px 35px 35px 35px;
	margin-left: 10px;
	background-color: #555FFF;
	font-weight: bold;

label{
	display: flex;
	position: fixed;

}

.overlay{
	visibility: hidden;
}

.overlay.active{
	visibility: visible;
}