body{
	background-color: #F6C6FE;
}
		
nav{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-left: 100px;
}

ul{
	width: 500px;
	background-color: white;	
}

li{
	display: inline;
	color: #000000;
	font-weight: bold;
	margin: 10px 5px;
	padding: 10px 5px;	
}

a{
	color: #000000;
	font-weight: bold;
	margin: 10px;
	text-decoration: none;
}
		
a:hover{
	background-color: #F6C6FA;
	color: #FFFFFF;
	width: 11px;
}

div img{
	display: flex;
	width: 100px;
	height: 100px;
}
		
div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

container{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
		
container img{
	width: 250px;
	height: 250px;
	float: left;
	margin: 20px;
}